@mixin sideAfter($scaleX: 1, $transform: initial){
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scaleX($scaleX);
        transform-origin: $transform;
        width: calc(100% + $spacing + $spacing);
        height: 100%;
        background: var(--light);
        z-index: -1;
        transition: .25s ease-in-out;
    }
}
@mixin sideBefore($scaleY: 1, $transform: initial){
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -8px;
        transform: translateY(-50%) scaleY($scaleY);
        transform-origin: $transform;
        height: 75%;
        width: 4px;
        border-radius: 4px;
        background: var(--primary-200);
        transition: .25s ease-in-out;
    }
}